h1 {
    color: navy;
    text-align: center;
    font-family: sans-serif;
  }
tr {
    font-size: large;
}
footer {
    text-align: center;
  }
a {
    text-align: left;
    text-decoration: none;
  }
a:link {
    color: navy;
}
a:visited {
    color: green;
}
a:hover {
    font-weight: bold;
}
