h1 {
    color: navy;
    text-align: center;
    font-family: 'Sans-Serif';
  }
tr {
    font-size: large;
}
table {
    background-color: #E26161
}
footer {
    text-align: center;
  }
a {
    text-align: left;
  }
a:visited {
    color: green;
}
