h1 {
    color: navy;
    text-align: center;
    font-family: 'sans-serif';
  }
tr {
    font-size: large;
}
footer {
    text-align: center;
  }
a {
    text-align: left;
  }
a:visited {
    color: green;
}
